@model HomeOS.Cloud.Portal.MvcWebRole.Models.OrgInfo

@{
    ViewBag.Title = "Delete Org";
}

<h2>Delete Org</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>OrgInfo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrgID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrgID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrgName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrgName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrgType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrgType)
    </div>
</fieldset>
@using (Html.BeginForm()) {
     @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
