@model HomeOS.Cloud.Portal.MvcWebRole.Models.OrgInfo

@{
    ViewBag.Title = "Details for" + Html.DisplayFor(model => model.OrgID).ToString();
}

<h2>Org Details</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrgID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgType)
        </th>
    </tr>
    <tr>
        <td style="text-align:center">
            @Html.DisplayFor(model => model.OrgID)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(model => model.OrgName)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(model => model.OrgType)
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
