<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Remote Management Portal</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Remote Management Portal", "Index", "HubStatus")</p>
                </div>
                <div class="float-right">
                    <nav>
                    <section id="login">
                    </section>
                        <!--
                        <ul id="menu">
                            <li>@Html.ActionLink("Hub Status", "Index", "HubStatus")</li>
                            <li>@Html.ActionLink("Org Info", "Index", "OrgInfo")</li>
                        </ul>
                        -->
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - HomeLab Remote Management Portal</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
         @Scripts.Render("~/bundles/jqueryui")
        <script src="~/Scripts/DatePickerReady.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
