@model HomeOS.Cloud.Portal.MvcWebRole.Models.HubStatusEx

@{
    ViewBag.Title = "Details for" + Html.DisplayFor(model => model.HomeID).ToString();
}

<h2>Hub Status Details</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrgID)
        </th>
        <td style="text-align: center">
            @Html.DisplayFor(model => model.OrgID)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeID)
        </th>
        <td style="text-align: center">
            @Html.DisplayFor(model => model.HomeID)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudyID)
        </th>
        <td style="text-align: center">
            @Html.DisplayFor(model => model.StudyID)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <td style="text-align: center">
            @Html.DisplayFor(model => model.Status)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastHeartbeatReported)
        </th>
        <td style="text-align: center">
            @Html.DisplayFor(model => model.LastHeartbeatReported)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HubTimeStamp)
        </th>
        <td style="text-align: center">
            @Html.DisplayFor(model => model.HubTimeStamp)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastHeartbeatSequenceNumber)
        </th>
        <td style="text-align: center">
            @Html.DisplayFor(model => model.LastHeartbeatSequenceNumber)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedHeartbeatIntervalInMins)
        </th>
        <td style="text-align: center">
            @Html.DisplayFor(model => model.ExpectedHeartbeatIntervalInMins)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrentHeartbeatIntervalInMins)
        </th>
        <td style="text-align: center">
            @Html.DisplayFor(model => model.CurrentHeartbeatIntervalInMins)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Memory)
        </th>
        <td style="text-align: center">
            @Html.DisplayFor(model => model.Memory)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CPU)
        </th>
        <td style="text-align: center">
            @Html.DisplayFor(model => model.CPU)
        </td>

    </tr>
</table>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModuleStatusList[0].ModuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleStatusList[0].TotalProcessorTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleStatusList[0].TotalAllocatedMemorySize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleStatusList[0].SurvivedMemorySize)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ModuleStatusList)
    {
        <tr>
            <td style="text-align:left">
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.TotalProcessorTime)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.TotalAllocatedMemorySize)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.SurvivedMemorySize)
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
