@model IEnumerable<HomeOS.Cloud.Portal.MvcWebRole.Models.HubStatusEx>

@{
    ViewBag.Title = "Hubs Deployed";
}

<h2>Hubs Deployed</h2>

<select id="OrgSelection" onchange="OnOrgSelection()">
    @foreach (var item in Model)
  {
      for (int i=0; i < item.OrgList.Count; ++i)
      {
        <option>@(item.OrgList[i].OrgID)</option>
      }
      break;
  }
</select>
<script type="text/javascript">
    function OnOrgSelection() {
        var org = $("#OrgSelection :selected").text();
        location.replace("http://" + location.hostname + "/HubStatus/Organization?orgId=" + org);
    }
</script>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastHeartbeat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) { 
        if (item.Status == "offline") {    
            @Html.Raw("<tr style=\"background-color:pink\">");
        } else {
           @Html.Raw("<tr>");
        }
            @Html.Raw("<td>");
                @Html.DisplayFor(modelItem => item.HomeID)
            @Html.Raw("</td>");
            @Html.Raw("<td>");
                @Html.DisplayFor(modelItem => item.LastHeartbeat)
            @Html.Raw("</td>");
            @Html.Raw("<td>");
                @Html.ActionLink("Details", "Details", new { PartitionKey = item.PartitionKey, RowKey=item.RowKey })
            @Html.Raw("</td>");
        @Html.Raw("</tr>");
        
    }

</table>
